<section class="flex flex-col mt-0 border-2 border-cmdColor w-full h-5/6 p-6">
    <h2 class="text-1xl font-font text-cmdColor">C:\PORTAFOLIO> Bienvenido Usuario...</h2>
    <p class="text-1xl font-font text-cmdColor mt-3">> Ingrese un comando por favor.</p>
</section>