---
import Header from "./Header.astro";
import Output from "./Output.astro";
import Entrada from "./Entrada.astro";
import CommandList from "./CommandList.astro";
---

<main
  class="flex flex-col w-6/12 h-5/6 bg-stone-950 mx-auto my-auto min-h-[400px] min-w-[300px] fixed inset-0 px-2"
>
  <Header />
  <section class="flex flex-col flex-grow w-full mt-0">
    <Output />
    <Entrada />
    <CommandList />
  </section>
</main>
